<% unless list.new_record? %>
		<tr class='list-list-row' id='list_<%= list.id %>'>
			<td><%= link_to list.name, list_todos_path(list) %></td>
			<td><%= list.permissions %></td>
			<td>
				<%= button_to('destroy', list, method: :delete, authenticity_token: true, remote: true, id: "destroy_list_#{list.id}") %>
			</td>
		</tr>
<% end %>