<table class="table" id="lists-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Permissions</th>
					<th></th>
				</tr>
			</thead>
			<%= render collection: @lists, partial: 'lists_list_row', as: :list %>
</table>