<%= form_for todo, remote: true, authenticity_token: true do |form| %>
<div class="form-group">
	<%= form.text_field :description, placeholder: 'New TODO', id: 'new-todo-description', autofocus: true %> <%= form.submit 'Save', class: "btn btn-default" %>
</div>
<% end %>
