<h2>My TODOs</h2>
<div id="errors-div">
<%= render 'shared/errors', obj: @todo %>		
</div>
<div id="todos-div">
<% if @todos.any? %>
		<%= render 'todo_list' %>
<% else %>
		<%= render 'blank_todo_list' %>
<% end %>
</div>
<div id="todo-form">
	<%= render 'form', todo: @todo %>
</div>
