<h2>My TODOs</h2>
<table>
	<tr>
		<th>Description</th>
		<th>Days left</th>
		<th>Complete</th>
	</tr>
	<% if @todos.any? %>
		<% @todos.each do |todo| %>
		<tr>
			<td><%= link_to todo.description, todo %></td>
			<td><%= todo.days_left %></td>
			<td><%= link_to 'complete', todo_path(todo), method: :delete %></td>
		</tr>
		<% end %>
	<% else %>
			<p>There are no TODOs.</p>
	<% end %>
</table>