// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editable_title {
	#title {
		display: inline;
		padding-right: 10px;
		cursor: pointer;
	}

	#edit_link {
	padding-left: 10px;
	vertical-align: super; 
	}

	#edit_link a:hover, a:visited, a:link, a:active {
		text-decoration: none;
	}

	#permission {
		display: inline;
		color: rgb(102,102,102); 
		background-color: rgb(221,221,221); 
		vertical-align: super; 
		padding-right: 10px; 
		padding-left: 10px;
		cursor: pointer;

		.editable-click {
			border-bottom: none;
		}
	}

	#permission:hover {
		border-bottom: dashed 1px black;
	}

	.editable-click {
		border-bottom: none;
	}

	.editable-click:hover {
			border-bottom: dashed 1px black;
	}

	.popover.bottom > .arrow:after {
			border-bottom-color: rgba(0, 0, 0, 0.2);
	}
}

